.about-container {
  img.about-picture {
    height: 300px;
    width: fit-content;
    border-radius: 40%;
  }

  ul {
    margin: 0;
    padding: 0;

    > li {
      list-style: none;
      padding: var(--size-small) 0;

      > i {
        color: var(--accent-color);
      }

      > span.title {
        font-weight: 700;
        margin-left: var(--size-xsmall);
      }

      > span.value {
        margin-left: var(--size-small);
      }
    }
  }
}
